@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div style="display: flex; width: 100%; height: 100vh;">
    <button @onclick="PlayYes" style="flex: 1; font-size: clamp(2rem, 20vw, 15rem); cursor: pointer; background-color: #4CAF50; color: white; border: none; font-weight: bold; display: flex; align-items: center; justify-content: center;">
        YES
    </button>
    <button @onclick="PlayNo" style="flex: 1; font-size: clamp(2rem, 20vw, 15rem); cursor: pointer; background-color: #f44336; color: white; border: none; font-weight: bold; display: flex; align-items: center; justify-content: center;">
        NO
    </button>
</div>

@* <audio #yesAudio src="audio/yes.mp3"></audio>
<audio #noAudio src="audio/no.mp3"></audio>
 *@
@code {
    // private ElementReference yesAudio;
    // private ElementReference noAudio;
    private IJSObjectReference? jsModule;


    private async Task PlayYes()
    {
        await JS.InvokeVoidAsync("playYes");
    }

    private async Task PlayNo()
    {
        await JS.InvokeVoidAsync("playNo");
    }
}

<script>
    function playYes() {
        var music = new Audio('audio/yes.mp3');
        music.play();
    }
    function playNo(audioFile) {
        var music = new Audio('audio/no.mp3');
        music.play();
    }
</script>